.title {
  grid-area: header;
}

img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  height: 70vh;
}

@font-face {
  font-family: strange;
  src: url("benguiatbold.ttf");
}

div {
  font-family: strange, serif;
}

.greet {
  grid-area: greet;
}

.analyze {
  grid-area: analyze;
}


.c2 {
  grid-area: c2;
}

.c3 {
  grid-area: c3;
}

.c4 {
  grid-area: c4;
}

.c5 {
  grid-area: c5;
}

.c6 {
  grid-area: c6;
}

.c7 {
  grid-area: c7;
}

.c8 {
  grid-area: c8;
}

.c9 {
  grid-area: c9;
}

.c10 {
  grid-area: c10;
}

.c11 {
  grid-area: c11;
}

.c12 {
  grid-area: c12;
}

.c13 {
  grid-area: c13;
}

.c14 {
  grid-area: c14;
}

.c15 {
  grid-area: c15;
}

.c16 {
  grid-area: c16;
}

.c17 {
  grid-area: c17;
}

.c0 {
  grid-area: c0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "greet greet greet"
    "analyze analyze analyze"
    "c0 c0 c0"
    "c1 logo c2"
    "c3 c4 c5"
    "c6 c7 c8"
    "c9 c10 c11"
    "c12 c13 c14"
    "c15 c16 c17";
  gap: 10px 10px;
}

.logo{
  grid-area: logo;
}
